## data visualization of SOI ##

In [1]:
START = 1981  #起始年
FINAL = 2017  #終止年(到前一年)

In [7]:
#以下用到相關的package
import pandas as pd
import numpy as np
import plotly
import plotly.graph_objs as go


def readfile(file_name):  #讀檔的function
    data = []
    year = []
    for i in range(1951,2019): #最多到2018年
        year.append(i)
    index = []
    file = open(file_name, "r")
    flag = True
    while(flag):
        line = file.readline()  #每次讀一行
        ### 處理檔案格式 ###
        if("JAN" in line and len(index) == 0):
            index = line.strip("\n").split("  ")
            while("" in index):
                del index[index.index("")]
            del index[0]
            continue
        elif ("    " in line or "2019" in line or "2020" in line):
            if("    " in line):
                continue
            else:
                df = pd.DataFrame(index = year, data = data, columns =index)
                flag = False
        elif(line == ''):
            break
        row = line.strip("\n").split("  ")
        if("-" in row[-1]):
            row += row[-1].split("-")
            del row[-3]
        row = row[1:]
        while("" in row):
            del row[row.index("")]
        for i in range(len(row)):
            row[i] = row[i].strip(" ")
            row[i] = float(row[i])
        data.append(row)
    
    #寫成csv檔案
    name = file_name.split(".")[0] + ".csv"
    df.to_csv(name, index = True, sep = ",")
    
    std_array = {}
    std = []
    month = 0
    for k in index:
        std_array[k] = []

    for i in index:
        std_array[i] += df[i][1981-1951:2011-1951].tolist()
        std.append([np.mean(std_array[i]), np.std(std_array[i])])

    for i in range(0,12):
        df[index[i]][:] = (df[index[i]][:] - std[i][0]) / std[i][1]
    return df

df = readfile("darwin.txt") #讀達爾文的資料
df2 = readfile("tahiti.txt")  #讀大溪地的資料
print("finish")  #完成輸出

finish

In [14]:
print("達爾文")
df[:5]  #達爾文檔案內容(前五個)

達爾文

,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
1951,-1.094090,-1.130649,-1.044296,-0.442823,0.500808,-2.108878,-0.165948,-0.198342,0.254298,0.609540,0.582223,1.132921
1952,0.015856,0.173946,-0.028647,0.376096,-1.453563,-0.527220,-0.539331,-0.859481,-0.131978,-0.826549,-1.164445,0.756952
1953,0.174420,0.304405,-0.263027,-0.897778,1.966586,-0.527220,0.580818,-0.418722,0.930281,0.035104,0.485185,0.531370
1954,-1.411218,0.304405,-0.497408,-1.989670,-1.697860,-0.770552,-1.286097,-1.741001,-0.325115,-0.060635,0.194074,-0.671732
1955,1.284367,-2.043865,-1.278676,-0.897778,-2.552897,-2.473877,-2.157324,-2.181760,-1.290804,-1.400984,-1.261482,0.155401

In [15]:
print("大溪地")
df2[:5]  #大溪地檔案內容(前五個)

大溪地

,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
1951,0.928022,-0.033483,-1.348676,-1.145813,-0.949183,-1.716163,-2.391525,-0.564499,-1.715806,-1.084976,-0.825625,0.124319
1952,-1.046945,-0.535729,0.808055,-0.047590,0.222648,1.117868,0.563407,-0.658062,-0.532492,-0.152332,-1.226739,-0.963472
1953,0.482062,-0.284606,-0.572253,-0.706524,-1.769464,-0.299148,0.563407,-2.435765,-1.321368,0.127461,-0.023398,-0.108779
1954,-0.346150,-0.033483,-0.140906,-1.145813,-0.597633,-0.535317,-0.382171,0.371135,-0.039444,0.407255,0.477994,1.289809
1955,0.418353,0.217640,-0.399714,-1.365458,-0.246084,0.409360,1.390788,0.651825,1.045261,1.246635,0.979386,1.600607

In [28]:
import plotly.plotly as py  #畫圖的package
import plotly.offline as offline

array = [] #達爾文當x軸
for i in range(START-1951, FINAL-1951):
    array += df.iloc[i].tolist()
array2 = [] #大溪地當y軸
for i in range(START-1951, FINAL-1951):
    array2 += df2.iloc[i].tolist()
tmp = []
index = [' JAN', ' FEB', ' MAR', ' APR', ' MAY', ' JUN', ' JUL', ' AUG', ' SEP', ' OCT', ' NOV', ' DEC']
m = 0
for i in range(START-1951, FINAL-1951):
    for m in index:
        tmp.append(str(i+1951) + m)

trace = go.Scatter(
        mode = "markers" ,
        marker=dict( #設定點的性質
                size=10,
                color="orange"),
        x = array, #達爾文
        y = array2) #大溪地

layout = dict(title = 'Scatter Chart' ,
              xaxis = dict(title = 'Darwin'),
              yaxis = dict(title = 'Tahiti'),
              )

data = [trace]
fig=go.Figure(data=data, layout=layout)
#輸出圖(散布圖)
offline.init_notebook_mode()
offline.iplot(fig)

In [ ]:
#因為圖表無法在github呈現，因此請看連結:https://plot.ly/~gyuler83821/272/scatter-chart/#/

In [20]:
import scipy.stats as stats
corre, p = stats.pearsonr(array,array2)
print("correlation coefficient of x and y : ", corre) #相關係數

correlation coefficient of x and y :  -0.3466574913584361

In [29]:
msd = []
df3 = df - df2  #達爾文-大溪地(為了標準化)
for i in index:
    msd.append(df3[i][1981-1951:2011-1951].tolist())
k = np.std(msd)  #取兩地差值標準差

df3 = df3[:][:] / k #標準化

array3 = []
for i in range(START-1951, FINAL-1951):
    array3 += df3.iloc[i].tolist()

a, b = [], []
for i in range(len(array3)):
    if(array3[i] > 0): #大於0的數值用藍色呈現
        a.append(array3[i])
        b.append(0)
    else: #小於0的數值用紅色呈現
        b.append(array3[i])
        a.append(0)
    
data1 = go.Bar(
        marker = dict(color = "blue"),
        x = tmp,
        y = a)
data2 = go.Bar(
        marker = dict(color = "red"),
        x = tmp,
        y = b)
data = [data1, data2]
#輸出圖(長條圖)
offline.init_notebook_mode()
offline.iplot(data)

In [ ]:
#圖表無法在github呈現，因此請看連結:https://plot.ly/~gyuler83821/274/#/